<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Comment-Key-Board-ToolBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E381C681F173F3600370FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E381C811F173F3600370FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E381C8C1F173F3600370FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
